# Java / Maven
garden-backend/target/
garden-backend/.classpath
garden-backend/.project
garden-backend/.factorypath
garden-backend/.settings/
garden-backend/.vscode/
*.class
*.jar

# Node / React
garden-frontend/node_modules/
garden-frontend/dist/
garden-frontend/build/
garden-frontend/.env

# ESP32 / PlatformIO
ESP/.pio/
ESP/.vscode/

# STM32
STM/build/
STM/*.o
STM/*.elf
STM/*.bin
STM/*.hex

# Environment
.env

# IDE
.metadata/
.vscode/
*.iml
